@font-face{
    font-family: MyFont;
    src: url(../fonts/Montserrat-Medium.ttf);
}

li, a, button, p, h2{
    font-family: MyFont, sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}


.danger-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: #FFCCCB
}

    .danger-div p {
        color: red;
    }

.success-div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    border: 1px solid green;
    border-radius: 5px;
    color: red;
    background-color: #BCF5BC;
}

    .success-div p {
        color: green;
    }

.blue-button {
    font-size: 24px;
    border-radius: 8px;
    padding: 14px 12px;
    background-color: #03A9F4;
    color: #FFFFFF;
    text-decoration: none;
}

    .blue-button:hover {
        background-color: #01579B;
        color: #FFFFFF;
        transition: 0.8s;
        text-decoration: none;
    }

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip.tooltiptext{
    visibility: hidden;
    width: auto;
    background-color: black;
    color:white;
    padding: 5px 0;
    border-radius: 5px;
    position:absolute;
    z-index:1;
}

.tooltip:hover.tooltiptext{
    visibility: visible;
}

header {
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10%;
    position: fixed;
    top: 0;
    width: auto;
    height: auto;
    z-index: 1;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #03A9F4;
}

button {
    padding: 9px 25px;
    background-color: rgba(3, 169, 244, 1);
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(3, 169, 244, 0.8);
}

table {
    font-family: MyFont, sans-serif;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    font-size: 24px;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    font-weight:bold;
    background-color: #FFFFFF;
}

table th{
    background-color:gold;
    padding:10px;
}

table td{
    padding:10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.input-group {
    position: relative;
}

    .input-group .input-area {
        border: 1px solid #03A9F4;
        font-family: MyFont, sans-serif;
        padding: 16px 12px;
        font-size: 20px;
        width: 400px;
        height: 24px;
        border-radius: 5px;
    }

        .input-group .input-area:focus {
            border: 0px solid #03A9F4;
        }

            .input-group .input-area:focus + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 20px;
                color: #03A9F4;
                border-radius: 5px;
            }

    .input-group .label {
        color: lightgrey;
        font-family: MyFont, sans-serif;
        position: absolute;
        top: 20px;
        left: 13px;
        background: #FFFFFF;
        transition: 0.3s;
        border-radius: 5px;
    }

    .input-group .input-area:valid + .label {
        top: -8px;
        padding: 0 3px;
        font-size: 16px;
        color: #03A9F4;
        border-radius: 5px;
    }

.blue-link {
    font-size: 24px;
    color: #03A9F4;
    text-decoration: none;
}

    .blue-link:hover {
        color: #01579B;
        transition: 0.8s;
        text-decoration: none;
    }

.card-footer {
    padding: 20px;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: black;
    text-align: center;
    font-family: MyFont, sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}