<style>
    @@font-face {
        font-family: MyFont;
        src: url(../fonts/Montserrat-Medium.ttf);
    }

    .card-footer {
        padding: 20px;
        width: 100%;
        height: auto;
        position:fixed;
        bottom:0;
        background-color:black;
        text-align:center;
        font-family: MyFont, sans-serif;
        font-weight: 500;
        font-size: 24px;
        font-weight: bold;
    }
</style>
<footer class="card-footer">
    <p style="color:white">Foodkart. All rights reserved @@2020</p>
</footer>
