<style>
    @@font-face {
        font-family: MyFont;
        src: url(../fonts/Montserrat-Medium.ttf);
    }

    .card-footer {
        box-shadow: 0 4px 8px 0 #8D8D8D;
        padding: 20px;
        width: 100%;
        height: 10%;
        position: relative;
        background-color: #FFFFFF;
        font-family: MyFont, sans-serif;
        font-weight: 500;
        font-size: 24px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        clear: both;
        margin-top: 200px;
    }
</style>
<footer class="card-footer">
    <p>Foodkart. All rights reserved @@2020</p>
</footer>
