<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-xl-2">
                <img src="~/Logos/logo.png" width="200"/>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="#home-section" class="nav-link">Home</a></li>
                        <li><a href="#products-section" class="nav-link">Cart</a></li>
                        <li><a href="#about-section" class="nav-link">Orders</a></li>
                        <li><a href="#special-section" class="nav-link">About Us</a></li>
                        <li><a href="#contact-section" class="nav-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
</header>
