@model List<Foodkart.Menu>
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerHome</title>
</head>
<body> 
    <div class="card">
    @{ 
        int count = 0;
        foreach (Menu menu in @Model)
        {
            <div style="margin-bottom:40px;">
                <h2>@menu.MenuName</h2>
                @if (menu.MenuAvailable == true)
                    {
                    <h2 style="color:green;">Accepting Orders</h2>
                }
                else
                {
                    <h2 style="color:red;">Currently Not Accepting Orders</h2>
                }
                <br />
                <a href="@Url.Action("ShowFoodItems", "Customer", new { menuId = menu.MenuId })" class="blue-button">Show Menu</a>
                <a><img src="@menu.MenuLogoUrl" style="width: 150px; height: 150px; position:absolute; margin-left: 400px; margin-top:-100px;" /></a>
            </div>
            
            if (count != Model.Count -1)
            {
                <hr />
            }

            count++;
        }
    }
    </div>
</body>
</html>
