@model Foodkart.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="text-align:center">
    <style type="text/css">
        h4 {
            font-size: 24px;
        }

        .card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            transition: 0.3s;
            padding: 20px;
            width: 500px;
            height: 600px;
            position: relative;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }

        .input-group {
            position: relative;
        }

            .input-group .input-area {
                border: 1px solid #03A9F4;
                padding: 16px 12px;
                font-size: 20px;
                width: 400px;
                height: 24px;
                border-radius: 5px;
            }

                .input-group .input-area:focus {
                    border: 0px solid #03A9F4;
                }

                    .input-group .input-area:focus + .label {
                        top: -8px;
                        padding: 0 3px;
                        font-size: 20px;
                        color: #03A9F4;
                        border-radius: 5px;
                    }

            .input-group .label {
                color: #8D8D8D;
                position: absolute;
                top: 20px;
                left: 13px;
                background: #FFFFFF;
                transition: 0.3s;
                border-radius: 5px;
            }

            .input-group .input-area:valid + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 16px;
                color: #03A9F4;
                border-radius: 5px;
            }

        .blue-link {
            font-size: 24px;
            color: #03A9F4;
            text-decoration: none;
        }

            .blue-link:hover {
                color: #01579B;
                transition: 0.8s;
                text-decoration: none;
            }

        .blue-button {
            font-size: 24px;
            border-radius: 8px;
            padding: 14px 12px;
            background-color: #03A9F4;
            color: #FFFFFF;
            text-decoration: none;
        }

            .blue-button:hover {
                background-color: #01579B;
                color: #FFFFFF;
                transition: 0.8s;
                text-decoration: none;
            }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
    <img src="~/Logos/logo.png" style="position:absolute; margin-left:-900px; height:100px; width:250px;" />
    <div class="card">
        <h2 style="text-align:center; font-size:50px;">Login</h2>
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <table align="center" style="margin-top:20px;margin-bottom:20px;">
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" id="CustEmail" name="CustEmail" class="input-area" pattern="^([a-zA-Z0-9_\-\.]+)\u0040([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                            <label for="CustEmail" class="label">Email</label>
                        </div>
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="password" id="CustPassword" name="CustPassword" pattern="^[a-zA-Z0-9]{8,20}$" class="input-area" required />
                            <label for="CustPassword" class="label">Password</label>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table align="center">
                <tr>
                    <td style="position: absolute; margin-left: -200px;"><a href="/Auth/Registration" class="blue-link">Create Account</a></td>
                    <td style="position: absolute; margin-left: 110px;"><a href="#" class="blue-button" onclick="this.closest('form').submit(); return false;">Sign In</a></td>
                </tr>
            </table>
            <br />
            <br />
        }
        @if (Model.CustEmail == "BadCredentials")
        {
            <div style="text-align:center">
                <h4>Bad Credentials</h4>
            </div>
        }
        @if (Model.CustEmail == "NotRegistered")
        {
            <div style="text-align:center">
                <h4>Customer doesn't exist !</h4>
            </div>
        }
    </div>
    <div>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>

