@model Foodkart.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <style type="text/css">
        h4 {
            font-size: 24px;
        }

        .card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            transition: 0.3s;
            padding: 20px;
            width: 500px;
            height: 900px;
            position: relative;
            margin-left: auto;
            background-color: #FFFFFF;
        }

        .input-group {
            position: relative;
        }

            .input-group .input-area {
                border: 1px solid #03A9F4;
                padding: 16px 12px;
                font-size: 20px;
                width: 400px;
                height: 24px;
                border-radius: 5px;
            }

                .input-group .input-area:focus {
                    border: 0px solid #03A9F4;
                }

                    .input-group .input-area:focus + .label {
                        top: -8px;
                        padding: 0 3px;
                        font-size: 20px;
                        color: #03A9F4;
                        border-radius: 5px;
                    }

            .input-group .label {
                color: #8D8D8D;
                position: absolute;
                top: 20px;
                left: 13px;
                background: #FFFFFF;
                transition: 0.3s;
                border-radius: 5px;
            }

            .input-group .input-area:valid + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 16px;
                color: #03A9F4;
                border-radius: 5px;
            }

        .blue-link {
            font-size: 24px;
            color: #03A9F4;
            text-decoration: none;
        }

            .blue-link:hover {
                color: #01579B;
                transition: 0.8s;
                text-decoration: none;
            }

        .blue-button {
            font-size: 24px;
            border-radius: 8px;
            padding: 14px 12px;
            background-color: #03A9F4;
            color: #FFFFFF;
            text-decoration: none;
        }

            .blue-button:hover {
                background-color: #01579B;
                color: #FFFFFF;
                transition: 0.8s;
                text-decoration: none;
            }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("/Images/register2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
        function validatePassword() {
            var password = document.getElementById("CustPassword").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            if (password != confirmPassword) {
                alert("Password and Confirm Password Fields Do Not Match !");
                return false;
            }
            return true;
        }
    </script>
    <img src="~/Logos/logo.png" style="position:absolute; margin-left:20px; height:100px; width:250px;" />
    <div class="card">
        <h2 style="text-align:center; font-size:50px;">Registration</h2>
        @using (Html.BeginForm("Registration", "Auth", FormMethod.Post, new { onsubmit = "return validatePassword();" }))
        {
            <table align="center">
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" id="CustFName" name="CustFName" pattern="^[a-zA-Z]{1,20}$" class="input-area" required />
                            <label for="CustFName" class="label">First Name</label>
                        </div>
                    </td>
                </tr>
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" id="CustLName" name="CustLName" pattern="^[a-zA-Z]{1,20}$" class="input-area" required />
                            <label for="CustLName" class="label">Last Name</label>
                        </div>
                    </td>
                </tr>
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" id="CustEmail" name="CustEmail" pattern="^([a-zA-Z0-9_\-\.]+)\u0040([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" class="input-area" required />
                            <label for="CustEmail" class="label">Email</label>
                        </div>
                    </td>
                </tr>
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="text" id="CustPhone" name="CustPhone" pattern="^[789]{1}[0-9]{9}$" class="input-area" required />
                            <label for="CustPhone" class="label">Phone</label>
                        </div>
                    </td>
                </tr>
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="password" id="CustPassword" name="CustPassword" pattern="^[a-zA-Z0-9]{8,20}$" required class="input-area" />
                            <label for="CustPassword" class="label">Password</label>
                        </div>
                    </td>
                </tr>
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" pattern="^[a-zA-Z0-9]{8,20}$" required class="input-area" />
                            <label for="ConfirmPassword" class="label">ConfirmPassword</label>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table align="center">
                <tr><td> </td> <td> </td></tr>
                <tr><td> </td> <td> </td></tr>
                <tr>
                    <td style="position: absolute; margin-left: -210px;"><a href="Login" class="blue-link">Login</a></td>
                    <td style="position: absolute; margin-left: 110px;"><a href="#" class="blue-button" onclick="this.closest('form').submit(); return validatePassword();">Sign-Up</a></td>
                </tr>
            </table>
        }
        <br />
        <br />
        @if (Model.CustEmail == "CustNull")
        {
            <div style="text-align:center">
                <h4>Please form up the form</h4>
            </div>
        }
        @if (Model.CustEmail == "CustRegistered")
        {
            <div style="text-align:center">
                <h4>Registration Successful</h4>
            </div>
        }
        @if (Model.CustEmail == "CustExists")
        {
            <div style="text-align:center">
                <h4>Customer already exists. Please Login.</h4>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
